<div class="container mt-5">
    <div class="text-center">
        <img class="profile" src="assets/images/profile.jpg">
        <h2>NATTAPAT KOSEE</h2>
        <h3>Position : Programmer</h3>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="card mt-4">
                <div class="card-body">
                    <h4>Presonal</h4><hr>
                    <div class="row">
                        <div class="col-4"><h6>Birth date</h6></div>
                        <div class="col-1">:</div>
                        <div class="col">8 June 1998</div>
                    </div>
                    <div class="row">
                        <div class="col-4"><h6>Gender</h6></div>
                        <div class="col-1">:</div>
                        <div class="col">Male</div>
                    </div>
                    <div class="row">
                        <div class="col-4"><h6>Age</h6></div>
                        <div class="col-1">:</div>
                        <div class="col">26 years</div>
                    </div>
                    <div class="row">
                        <div class="col-4"><h6>Nationality</h6></div>
                        <div class="col-1">:</div>
                        <div class="col">Thai</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card mt-4">
                <div class="card-body">
                    <h4>Ability</h4><hr>
                    <div class="row">
                        <div class="col-4"><h6>Angular</h6></div>
                        <div class="col-1">:</div>
                        <div class="col">Excellent</div>
                    </div>
                    <div class="row">
                        <div class="col-4"><h6>Node.JS</h6></div>
                        <div class="col-1">:</div>
                        <div class="col">Excellent</div>
                    </div>
                    <div class="row">
                        <div class="col-4"><h6>Typescript</h6></div>
                        <div class="col-1">:</div>
                        <div class="col">Excellent</div>
                    </div>
                    <div class="row">
                        <div class="col-4"><h6>CSS/HTML</h6></div>
                        <div class="col-1">:</div>
                        <div class="col">Excellent</div>
                    </div>
                    <div class="row">
                        <div class="col-4"><h6>PHP</h6></div>
                        <div class="col-1">:</div>
                        <div class="col">Good</div>
                    </div>
                    <div class="row">
                        <div class="col-4"><h6>JAVA</h6></div>
                        <div class="col-1">:</div>
                        <div class="col">Good</div>
                    </div>
                    <div class="row">
                        <div class="col-4"><h6>MongoDB</h6></div>
                        <div class="col-1">:</div>
                        <div class="col">Good</div>
                    </div>
                    <div class="row">
                        <div class="col-4"><h6>MySQL</h6></div>
                        <div class="col-1">:</div>
                        <div class="col">Excellent</div>
                    </div>
                    <div class="row">
                        <div class="col-4"><h6>GitHub</h6></div>
                        <div class="col-1">:</div>
                        <div class="col">Excellent</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
    <div class="mt-4">
      <h5>Connect with me :</h5>
      <a href="https://www.facebook.com/Francezaseedsad/" target="_blank" class="btn btn-outline-primary me-2">Facebook</a>
      <a href="https://www.instagram.com/nattpat_nt/" target="_blank" class="btn btn-outline-info me-2">Instragram</a>
      <a href="https://github.com/Francezaseed" target="_blank" class="btn btn-outline-dark me-2">GitHub</a>
    </div>
  </div>
